<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Handle requests for files and directories that exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Rewrite all other URLs to the entry point (usually index.html)
  RewriteRule ^(.*)$ /index.html [L]
</IfModule>